# Dependencies
node_modules/
package-lock.json

# Credentials
.env
.env.test

# Webstorm/text editor meta
.idea/
# VSCode meta folder
.vscode

# Distribution
dist/

# Emacs
*~
*#

# tern
.tern-port

#coverage
.nyc_output
coverage


