head
  title #{$APP_NAME$}

  link(rel='stylesheet', href='/css/bootstrap.min.css')
  link(rel='stylesheet', href='/css/style.css')

  script(src='/js/jquery-3.3.1.min.js')
  script(src='/js/bootstrap.min.js')
  script(src='/js/script.js')
body
  block content
    div.container
      p.msg-container.text-center
        | #{msg}


