<div class="base-cont full-height">
	<div class="cf header-cont">
		<span class="pull-left custom-header"><h3>Preferences</h3></span>
	</div>
	<div class="row full-height">
		<div class="col-md-2 col-xs-6 full-height" style="border-right:1px solid #F1F1F1;    padding-right: 0;">
			<div>
				<ul class="list-group">
					<li class="list-group-item pref-list" ui-sref-active="active"
						ui-sref="home.project.milestones.milestone">Account
					</li>
					<li class="list-group-item pref-list" ui-sref-active="active"
						ui-sref="home.project.milestones.milestone">Profile
					</li>
					<li class="list-group-item pref-list" ui-sref-active="active"
						ui-sref="home.preferences.customizeReport">Customize Report
					</li>
				</ul>
			</div>
		</div>
		<div class="col-md-10 full-height col-xs-6">
			<div class="full-height" ui-view>
			</div>
		</div>
	</div>
</div>
