<div class="container">
<div class="row">
    <div class="col-md-4 col-md-offset-4 vertical-offset-100">
        <div class="text-center brand-header">
            <h4>wp.report</h4>
        </div>
        <form name="authCtrl.loginForm" ng-submit="authCtrl.login(authCtrl.loginForm.$valid)" novalidate>
            <fieldset>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title custom text-uppercase text-center">login to your account</h3>
                    </div>
                    <div class="panel-body">
                        <form accept-charset="UTF-8" role="form">
                            <fieldset>
                                <div class="form-group">
                                    <input id="email" name="email" type="email" placeholder="Email" class="form-control input-md" ng-model="authCtrl.user.emailId" required autofocus>
                                    <div ng-messages="authCtrl.loginForm.email.$error" role="alert" class="help-block" ng-if="authCtrl.loginForm.email.$touched">
                                        <div ng-message="required">This is required.</div>
                                        <div ng-message="email">Invalid email.</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input id="password" name="password" type="password" ng-model="authCtrl.user.password" placeholder="password" class="form-control input-md" required>
                                    <div ng-messages="authCtrl.loginForm.password.$error" role="alert" class="help-block" ng-if="authCtrl.loginForm.password.$touched">
                                        <div ng-message="required">Password is required.</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-8 text-uppercase" style="padding-left: 0;">
                                        <button class="btn btn-success" type="submit" ladda="authCtrl.loginLoading" ng-disabled="authCtrl.loginForm.$invalid">Login to my account</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </fieldset>
        </form>
        <div class="col-md-offset-4">
            <a class="pull-left text-center" ui-sref="register">Create an account</a>
        </div>
    </div>
</div>

</div>