html,
body {
    margin: 0;
    overflow: hidden;
    height: 100%;
}

body {
    background-color: #F3F4F6;
    font-family: 'Open Sans', sans-serif;
}

a {
    cursor: pointer;
}

.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

.white-bg {
    background-color: #FFFFFF;
}

.brand-header {
    padding: 15px;
    font-size: 20px;
}

.container {
    padding-left: 0;
    padding-right: 0;
}

.vertical-offset-100 {
    padding-top: 19%;
}

.panel-title.custom {
    font-size: 12px;
    font-weight: 700;
    padding-top: 10px;
}

.panel-default > .panel-heading {
    background-color: #FFFFFF;
    border: none;
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    background-color: #E6EAED;
    border: none;
    opacity: 0.5;
}

.btn-success.disabled:hover,
.btn-success[disabled]:hover {
    background-color: #E6EAED;
}

.btn-success {
    background-color: #A1ADBB !important;
}

.btn-success:hover {
    background-color: #A1ADBB;
}

.btn {
    border: none;
}

a {
    color: #198DE2;
}

.navbar-default {
    background-color: #E8ECED;
}

.navbar {
    border: none;
    border-radius: 0;
}

.navbar-default .navbar-nav > li > a {
    color: #777;
    font-size: 13px;
    font-weight: 700;
}

.cf::after {
    content: "";
    display: table;
    clear: both;
}

.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
    color: #fff;
    background-color: #A1ADBB;
}

.btn-success:active:hover,
.btn-success.active:hover,
.open > .dropdown-toggle.btn-success:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.open > .dropdown-toggle.btn-success:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.open > .dropdown-toggle.btn-success.focus {
    color: #fff;
    background-color: #A1ADBB;
}

.custom-header {
    font-size: 20px;
    margin-top: 4px;
    font-weight: 600;
}

.base-cont {
    padding: 10px 20px 10px 20px;
}

.header-cont {
    margin-bottom: 20px;
}

.sec-header {
    font-size: 14px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background: none;
    border-bottom: 2px solid #52A6C3;
}

.table-header {
    font-size: 13px;
    font-weight: 700;
    padding-left: 0;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    padding-left: 0;
    font-size: 13px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #EEEEEE;
}

.table > thead > tr > th {
    border-bottom: none;
}

.dropdown-menu {
    border-radius: 5px;
}

.report-type-btn {
    background: none;
    padding: 4px 15px 4px 15px;
    border-radius: 5px;
    margin: 0px 10px 0px 10px;
    box-shadow: none;
}

.report-type-btn.active {
    background-color: #E6EAED;
    font-weight: 700;
    box-shadow: none;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}

.btn:active,
.btn.active {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.left-bar {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.report-template {
    height: 100%;
    width: 50%;
    margin-bottom: 25px;
    margin-top: 25px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.left-bar .header-cont {
    padding: 15px;
    background-color: #E8ECED;
}

.left-bar .action-title {
    font-size: 12px;
    font-weight: 600;
}

.left-bar .selector-cont {
    padding: 8px 15px;
}

.left-bar .selector-element {
    padding: 10px 0;
}


/*select2 class test*/

.ui-select-match-item.btn.btn-default.btn-xs {
    background-color: #ECEFF2;
}

.selector-btn {
    width: 100%;
    font-weight: 700;
}

.fa-custom {
    font-size: 8px;
    vertical-align: inherit
}

.selector-element-cont {
    padding-bottom: 10px;
    border-bottom: 1px solid #EEEEEE;
}

.radio-menu {
    font-size: 13px;
    padding-left: 10px;
}

.profile-pic {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    margin-top: -5px;
}

.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.list-group-item.pref-list {
    border: none;
    font-size: 14px;
    cursor: pointer;
}

.list-group-item.active.pref-list {
    border-radius: 0;
    background-color: #E6EAED;
    color: black;
}

.pref-header {
    font-size: 12px;
    font-weight: 600;
}

.pref-element {
    padding-top: 8px;
    padding-bottom: 8px;
}

.sec-text {
    font-size: 13px;
}

.section-border {
    border-bottom: 1px solid #EEEEEE;
}

.section-border.left {
    border-left: 1px solid #EEEEEE;
}

.section-border.right {
    border-right: 1px solid #EEEEEE;
}


/*

border: 2px solid #DCDFE4;
    padding: 0;*/

.sp-replacer {
    margin: 0;
    overflow: hidden;
    cursor: pointer;
    padding: 4px;
    display: inline-block;
    border: solid 1px #DCDFE4;
    background: #eee;
    color: #333;
    vertical-align: middle;
    border-radius: 3px;
}

.sp-preview {
    position: relative;
    width: 25px;
    height: 20px;
    border: solid 2px white;
    margin-right: 5px;
    float: left;
    border-radius: 3px;
    z-index: 0;
}

.oval-button {
    border-radius: 20px;
}

.modal-header,
.modal-footer {
    background-color: #ECF0F3;
    font-size: 14px;
    font-weight: 700;
    padding: 10px;
    border-radius: 4px
}

.modal-body .modal-element-title {
    font-size: 12px;
    text-align: end;
    font-weight: 600;
    padding-top: 10px;
}

.modal-body {
    padding: 0;
}

.modal-body .modal-element-cont {
    padding: 10px;
    padding-left: 0;
    padding-right: 0;
    border-bottom: 1px solid #F4F4F6;
}

.modal-body .row {
    margin: 0;
}

.modal-body .modal-input {
    border: 0;
    box-shadow: none
}

.clear-padding-left {
    padding-left: 0;
}

.modal-button {
    font-size: 12px;
    font-weight: 700;
}

.modal-footer .secondary-btn {
    background-color: #EBEEF1 !important;
    color: #A9B5BD;
    border: 1px solid;
}
.modal-radio{
    padding-left: 45px;
    padding-right: 45px;
    font-size: 12px;
    color: #9D9D9D;
    border: 1px solid #E8EAED;
    background: #FFFFFF;
}
.modal-custom-size{
    width: 500px;
}
.padding-offset12{
	padding-left: 12px;
    padding-right: 12px;
}


.inline{
	display: inline;
}

.tabular-template-header{
    padding: 30px 50px 10px 50px;
}
.jumbo-text{
	font-size: 60px;	
}
.jumbo-text-sec{
 font-size: 22px
}   
hr{
	margin-bottom: 0;
}
.report-template .row{
	margin-left: 0;
	margin-right: 0;
}

.tabular-template-element{
	padding: 0px 35px;
}
.tabular-template-element .group-count{
    font-size: 30px;
}
.tabular-template-element .group-title{
font-weight: 600;
}
