<div>
<table class="table" style="margin-top:20px">
		<thead>
			<tr>
				<th class="text-uppercase table-header">Client</th>
				<th class="text-uppercase table-header">Websites</th>
				<th class="text-uppercase table-header">Schedule</th>
				<th class="text-uppercase table-header"></th>
				<th class="text-uppercase table-header"></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="col-md-4">Behance Inc</td>
				<td class="col-md-4">behance.net</td>
				<td class="col-md-4">Every Sunday 10am</td>
				<td class="col-md-1"><a>Edit</a></td>
				<td class="col-md-1"><a>Delete</a></td>
			</tr>
			<tr>
				<td class="col-md-4">Behance Inc</td>
				<td class="col-md-4">behance.net</td>
				<td class="col-md-4">Every Sunday 10am</td>
				<td class="col-md-1"><a>Edit</a></td>
				<td class="col-md-1"><a>Delete</a></td>
			</tr>
			<tr>
				<td class="col-md-4">Behance Inc</td>
				<td class="col-md-4">behance.net</td>
				<td class="col-md-4">Every Sunday 10am</td>
				<td class="col-md-1"><a>Edit</a></td>
				<td class="col-md-1"><a>Delete</a></td>
			</tr>
		</tbody>
	</table>
</div>