<div>
<table class="table" style="margin-top:20px">
		<thead>
			<tr>
				<th class="text-uppercase table-header">Client</th>
				<th class="text-uppercase table-header">Websites</th>
				<th class="text-uppercase table-header">Sent on</th>
				<th class="text-uppercase table-header">Status</th>
				<th class="text-uppercase table-header"></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="col-md-3">Behance Inc</td>
				<td class="col-md-2">behance.net</td>
				<td class="col-md-2">24 Jan@11.00am</td>
				<td class="col-md-1">Read</td>
				<td class="col-md-1"><a>View Report  <i class="fa fa-external-link"></i></a></td>
			</tr>
			<tr>
				<td>Behance Inc</td>
				<td>behance.net</td>
				<td>24 Jan@12.00pm</td>
				<td>Read</td>
				<td class="col-md-1"><a>View Report  <i class="fa fa-external-link"></i></a></td>
			</tr>
			<tr>
				<td>Behance Inc</td>
				<td>behance.net</td>
				<td>24 Jan@13.00am</td>
				<td>Read</td>
				<td class="col-md-1"><a>View Report  <i class="fa fa-external-link"></i></a></td>
			</tr>
		</tbody>
	</table>
</div>